body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(125deg, #ABB29A, #259BA9);
    color: #333;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    width: 200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 60px 20px;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic {
    flex: 1;
    text-align: right;
}

.profile-pic img {
    border-radius: 10%;
    width: 230px;
    height: 230px;
    margin: 5px;
    position: relative;
    right: 100px;
    bottom: 10px;
    border-top: dashed;
    border-right: groove;
    border-left: groove;
    border-bottom: dashed;
    border-top-color: black;
    border-right-color: lightgray;
    border-left-color: gray;
    border-bottom-color: whitesmoke;
    border-top-width: 2.5px;
    border-right-width: 2.5px;
    border-left-width: 2.5px;
    border-bottom-width: 3px;
}

.empty-space {
    width: 290px;
    height: 230px;
    background: transparent;
    display: inline-block;
}

.intro {
    flex: 2;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.project img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
}

.project p {
    max-width: 300px;
}

.project.alternate {
    flex-direction: row-reverse;
}

#contact {
    background: #000;
    color: #fff;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    margin-top: 20px;
}

.social-links a:hover {
    color: #ddd;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.1);
}

.skill-logo {
    font-size: 50px;
    color: #333;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-logo i {
    margin: 0 5px;
}

.custom-icon {
    width: 50px;
    height: 50px;
}

.skill-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
}

.skill-card:hover .skill-info {
    opacity: 1;
}

.about-section {
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-section ul {
    list-style: none;
    padding: 0;
}

.about-section ul li {
    position: relative;
    font-size: 20px;
    padding-left: 20px;
}

.about-section ul li:before {
    content: '\2022'; /* Unicode for bullet point */
    position: absolute;
    left: 0;
    color: #333; /* Adjust bullet color as needed */
}

.right-align {
    text-align: right;
}

.right-align ul li {
    padding-right: 20px;
    padding-left: 0;
}

.right-align ul li:before {
    left: auto;
    right: 0;
}
